header {
  display: flex;
  border: solid green 5px;
}

.navImg {
  flex: 1;
  max-width: fit-content;
}

.navImg img {
  width: 8em;
  border-style: dotted dashed;
}

.logo {
  border-radius: 20;
}

body {
  background-image: url("https://specials-images.forbesimg.com/imageserve/605e4c8e40e0e386562fa785/960x0.jpg?cropX1=0&cropX2=3121&cropY1=1001&cropY2=2474");
  background-position: center;
  background-repeat: repeat;
  cursor: help;
}

.navBar {
  text-align: center;
  font-size: 33px;
  background-color: rgba(212, 173, 0, 0.87);
}

.navBar:hover {
  transform: translateY(120px);
}

image {
  border-radius: 1px;
}

.country_image img {
  max-width: 40em;
  animation: scroll_lr 20s linear infinite;
}

.clz {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.info_head {
  color: greenyellow;
  animation: blink 0.8s linear infinite;
}

.info {
  width: 25%;
  display: flex;
  font-size: 14px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: orange;
  background-color: white;
  border: dotted orange 3px;
  padding: 8px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
  text-shadow: 2px 3px 1px rgba(45, 114, 18, 0.8);
}

.name {
  font-size: 50px;
  color: crimson;
  border: 5px dotted blue;
}

.name h1 {
  animation: scroll_bnf 10s linear infinite, blink 1.5s linear infinite;
}

@keyframes scroll_lr {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(2000px);
  }
}

@keyframes scroll_bnf {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(1000px);
  }
  50% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(2000px);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
